body{
    margin:0 auto; padding:8px;
    text-align: left;
    display: block;
    background-color:white;
}
h1{
    background-color:#88BDBC;
    border: 1px solid palevioletred;
    padding: 10px;
    text-align: center;
}
.intro{
    border: 1px solid #88BDBC;
    padding: 10px;
    margin-top: 30px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color:black;
    background-color: linen;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #88BDBC
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 50px;
    text-decoration: none;
  }
  a{
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
 
/* h3{
  color:blue;
  font-size: large; */

 /* ul li a :hover{
  background-color: black;
} */
img {
  float: left;
  margin-right: 10px;
 
}
h3{
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  color: blue;
}
.members_view{
  border: 1 px slid blue;
  background-color: linen;
}
 ul li a:hover{
  background-color:blue;
}
.navbar ul li a:active{
  background-color: black;
}
ul li a:visited{
  background-color: black;
}